.screenshots li{
	display: inline;
	padding-right: 1px;
}
.screenshots li img {
	padding-bottom: 5px;
}
.blog_name {
	width: 47%;
}
.blog_email {
	width: 47%;
}
.blog_content {
	width: 97%;
	height: 250px;
}
.contact_name {
	width: 47%;
}
.contact_email {
	width: 47%;
}
.contact_content {
	width: 97%;
	height: 250px;
}

.center {
	text-align: center;
}

.gold {
	color: #EAC117;
}

.bronze {
	color: #8C7853;
}

.silver {
	color: #C0C0C0;
}